.modal {
    z-index: 1072 ;
    @apply fixed top-10 left-0 w-full h-full outline-none  fade ;
    .modal-dialog{
        @apply relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-4 sm:px-0;
        .modal-content{
            @apply relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg;
            .modal-title{
                @apply flex items-start justify-between p-4 border-b border-gray-300 rounded-t;
            }
            .modal-option{
                @apply relative flex p-4 items-center justify-end;
                .close{
                    @apply inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-gray-400 mr-2;
                }
                .accept{
                    @apply inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-blue-500;
                }
            }
        }
    }
}
//
//.modal.show {
//    @apply block;
//}

.modal-backdrop {
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    @apply fixed bg-black top-0 left-0;
}

.modal-backdrop.fade {
    @apply opacity-0;
}

.modal-backdrop.show {
    @apply opacity-50;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}
