.list-product{
    .wrap-product{
        .option-product{
            position: relative;
            .title{
                padding-top: 5px;
                font-weight: bold;
                position: absolute;
            }
            .option-1{
                margin-left: 150px;
                a{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .main-product{
        .main-content{
            .item-product{
                background: white;
                border-radius: 2px;
                .search{
                    padding: 10px 10px;
                }
                table{
                    width: 100%;
                    margin: 2px;
                    tr{
                        border: solid lightgray 1px;
                        border-style: solid none solid none;
                        text-align: center;
                        height: 50px;
                        .col-option{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}
.create-product{
    .main-product{
        .alert-success{
            background: blue !important;
            border: 1px solid blue;
            border-radius: 2px;
            color: white;
        }
        .main-content{
            background: white;
            border-radius: 2px;
            .item-product{
                padding: 20px 10px 10px 10px;
                .row-attribute{
                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;
                    .title{
                        font-weight: bold;
                        position: absolute;
                        width: 200px;
                        padding-top: 5px;
                    }
                    .input-product{
                        margin-left: 150px;
                        input{
                            width: 700px;
                            height: 40px;
                            border-radius: 5px;
                            border: 0.5px solid;
                        }
                        textarea{
                            width: 700px;
                            height: 100px;
                            border-radius: 5px;
                            border: 0.5px solid;
                        }
                        select{
                            width: 150px;
                            height: 30px;
                            border-radius: 5px;
                            border: 0.5px solid;
                        }
                        //float: left;
                    }
                }
            }
        }
    }
}
