.list-category .wrap-category .option-category {
  position: relative;
}

.list-category .wrap-category .option-category .title {
  padding-top: 5px;
  font-weight: bold;
  position: absolute;
}

.list-category .wrap-category .option-category .option-1 {
  margin-left: 160px;
}

.list-category .wrap-category .option-category .option-1 a {
  margin-bottom: 10px;
}

.list-category .main-category .main-content .list-category .item-category {
  background: white;
  border-radius: 2px;
}

.list-category .main-category .main-content .list-category .item-category .search {
  padding: 10px 10px;
}

.list-category .main-category .main-content .list-category .item-category table {
  width: 100%;
  margin: 2px;
}

.list-category .main-category .main-content .list-category .item-category table tr {
  border: solid lightgray 1px;
  border-style: solid none solid none;
  text-align: center;
  height: 50px;
}

.list-category .main-category .main-content .list-category .item-category table tr .col-name {
  width: 20%;
}

.list-category .main-category .main-content .list-category .item-category table tr .col-des {
  width: 40%;
}

