#create-category .main-category .alert-success {
  background: blue !important;
  border: 1px solid blue;
  border-radius: 2px;
  color: white;
}

#create-category .main-category .main-content {
  background: white;
  border-radius: 2px;
}

#create-category .main-category .main-content .item-category {
  padding: 20px 10px 10px 10px;
}

#create-category .main-category .main-content .item-category .row-attribute {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

#create-category .main-category .main-content .item-category .row-attribute .title {
  font-weight: bold;
  position: absolute;
  width: 200px;
  padding-top: 5px;
}

#create-category .main-category .main-content .item-category .row-attribute .input-cate {
  margin-left: 150px;
}

#create-category .main-category .main-content .item-category .row-attribute .input-cate input {
  width: 700px;
  height: 40px;
  border-radius: 5px;
  border: 0.5px solid;
}

#create-category .main-category .main-content .item-category .row-attribute .input-cate textarea {
  width: 700px;
  height: 100px;
  border-radius: 5px;
  border: 0.5px solid;
}

