.list-product .wrap-product .option-product {
  position: relative;
}

.list-product .wrap-product .option-product .title {
  padding-top: 5px;
  font-weight: bold;
  position: absolute;
}

.list-product .wrap-product .option-product .option-1 {
  margin-left: 150px;
}

.list-product .wrap-product .option-product .option-1 a {
  margin-bottom: 10px;
}

.list-product .main-product .main-content .item-product {
  background: white;
  border-radius: 2px;
}

.list-product .main-product .main-content .item-product .search {
  padding: 10px 10px;
}

.list-product .main-product .main-content .item-product table {
  width: 100%;
  margin: 2px;
}

.list-product .main-product .main-content .item-product table tr {
  border: solid lightgray 1px;
  border-style: solid none solid none;
  text-align: center;
  height: 50px;
}

.list-product .main-product .main-content .item-product table tr .col-option {
  width: 200px;
}

.create-product .main-product .alert-success {
  background: blue !important;
  border: 1px solid blue;
  border-radius: 2px;
  color: white;
}

.create-product .main-product .main-content {
  background: white;
  border-radius: 2px;
}

.create-product .main-product .main-content .item-product {
  padding: 20px 10px 10px 10px;
}

.create-product .main-product .main-content .item-product .row-attribute {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.create-product .main-product .main-content .item-product .row-attribute .title {
  font-weight: bold;
  position: absolute;
  width: 200px;
  padding-top: 5px;
}

.create-product .main-product .main-content .item-product .row-attribute .input-product {
  margin-left: 150px;
}

.create-product .main-product .main-content .item-product .row-attribute .input-product input {
  width: 700px;
  height: 40px;
  border-radius: 5px;
  border: 0.5px solid;
}

.create-product .main-product .main-content .item-product .row-attribute .input-product textarea {
  width: 700px;
  height: 100px;
  border-radius: 5px;
  border: 0.5px solid;
}

.create-product .main-product .main-content .item-product .row-attribute .input-product select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid;
}

