//@import "Common/modal";
.list-category{
    .wrap-category{
        .option-category{
            position: relative;
            .title{
                padding-top: 5px;
                font-weight: bold;
                position: absolute;
            }
            .option-1{
                margin-left: 160px;
                a{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .main-category{
        .main-content{
            .list-category{
                .item-category{
                    background: white;
                    border-radius: 2px;
                    .search{
                        padding: 10px 10px;
                    }
                    table{
                        width: 100%;
                        margin: 2px;
                        tr{
                            border: solid lightgray 1px;
                            border-style: solid none solid none;
                            text-align: center;
                            height: 50px;
                            //th{
                            //    width: 100px;
                            //}
                            .col-name{
                                width: 20%;
                            }
                            .col-des{
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}
