#create-category{
    .main-category{
        .alert-success{
            background: blue !important;
            border: 1px solid blue;
            border-radius: 2px;
            color: white;
        }
        .main-content{
            background: white;
            border-radius: 2px;
            .item-category{
                padding: 20px 10px 10px 10px;
                .row-attribute{
                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;
                    .title{
                        font-weight: bold;
                        position: absolute;
                        width: 200px;
                        padding-top: 5px;
                    }
                    .input-cate{
                        margin-left: 150px;
                        input{
                            width: 700px;
                            height: 40px;
                            border-radius: 5px;
                            border: 0.5px solid;
                        }
                        textarea{
                            width: 700px;
                            height: 100px;
                            border-radius: 5px;
                            border: 0.5px solid;
                        }
                    }
                }
            }
        }
    }
}
